.header {
  background-color: #46A997;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .headerLogo {
    width: 15%;
    img {
      width: min(100%, 132px);
    }
  }
  .btnArea {
    a {
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}

.headerLogin {
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  opacity: 0.9;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .headerLogo {
    display: flex;
    align-items: center;
    width: 15%;
    img {
      margin-left: 0;
      width: min(100%, 132px);
    }
  }
  .btnArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      &:first-child {
        margin-right: 2.5rem;
      }
      &.account {
        background-color: #46A997;
        border-radius: 50%;
        display: block;
        height: 45px;
        width: 45px;
      }
    }
  }
}