.date {
  
  .inner {
    display: flex;
    justify-content: start;
    .Input {
      border-color: #6D6D6D;
      border-radius: 5px;
      border-width: 1px;
      padding: 0.7em 1.4rem;
      margin-bottom: 1.5rem;
      max-width: 100%;
      width: 100%;
    }
    .year,
    .month,
    .day {
      input {
        width: 42%;
      }
    }
    .time {
      input {
        width: 17%;
      }
    }
  }
}