@use '@/app/_styles/mixin.module.scss' as *;

.calendarArea {
  padding: 3rem 3rem 10rem;
  width: min(100%, 380px);
  @include mq(md) {
    width: 100%;
  }
  .sticky {
    position: sticky;
    top: 100px;
  .averageStudyTime {
    text-align: center;
    margin-bottom: 2rem;
    h2 {
      font-size: 110%;
      text-align: center;
    }
    p {
      strong {
        font-size: 200%;
      }
    }
  }
    .calendar {
      .guide {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        width: min(65%, 260px);
        button {
          border-radius: 5px;
          height: 30px;
          max-width: 100%;
          width: 30px;
        }
      }
      .zero {
        background-color: #f0f0f0;
      }
      .low {
        background-color: #FFDCD8;
      }
      .medium {
        background-color: #FFB3A9;
      }
      .high {
        background-color: #F88A7B;
      }
      .veryHigh {
        background-color: #E56452;
      }
    }
  }
}