.black {
  background-color: #1E1E1E;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.white {
  background-color: #FFF;
  color: #1E1E1E;
  border: 1px solid #1E1E1E;
  border-radius: 5px;
  font-weight: bold;
}

.pink {
  background-color: #E56452;
  color: #FFF;
  border: 1px solid #1E1E1E;
  border-radius: 5px;
  font-weight: bold;
}

.large {
  padding: 1.8rem 3rem;
  font-size: 110%;
}

.middle {
  padding: 1.5rem 2.5rem;
}

.small {
  padding: 1.2rem 2rem;
}