.newPost {
  background-color: #EEF6F6;
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .topLink {
    margin-bottom: 2rem;
    a {
      border-bottom: 1px solid #111;
      color: #111;
      text-decoration: none;
      padding-bottom: 0.1em;
    }
  }
  form {
    .errorMessage {
      color: rgb(204, 10, 10);
    }
    .date {
      .inner {
        display: flex;
        justify-content: start;
        .year,
        .month,
        .day {
          input {
            width: 42%;
          }
        }
        .time {
          input {
            width: 17%;
          }
        }
      }
    }
    .category {
      display: flex;
      justify-content: start;
      ul {
        display: flex;
        justify-content: start;
        li {
          margin-right: 1rem;
        }
      }
      a {
        background-color: #707070;
        border-radius: 3px;
        color: #fff;
        padding: 0 0.6em;
      }
    }
    .editorArea {
      padding-top: clamp(4rem, 6vw, 8rem);
      padding-bottom: clamp(6rem, 8vw, 10rem);
      .inner {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        .text {
          padding: 1em;
        }
      }
    }
    .btnArea {
      text-align: center;
    }
  }
}