.newPost {
  background-color: #EEF6F6;
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .topLink {
    margin-bottom: 2rem;
    a {
      border-bottom: 1px solid #111;
      color: #111;
      text-decoration: none;
      padding-bottom: 0.1em;
    }
  }
  form {
    .errorMessage {
      color: rgb(204, 10, 10);
    }
    .flexBox {
      display: flex;
      justify-content: space-between;
      .studyTime {
        width: 30%;
        input {
          border: 1px solid #6D6D6D;
          padding: 1.4rem;
          margin-bottom: 1.5rem;
          width: 50%;
        }
      }
      .date {
        width: 65%;
        .inner {
          display: flex;
          justify-content: space-between;
          .year,
          .month,
          .day {
            input {
              width: 50%;
            }
          }
          .time {
            input {
              width: 30%;
            }
          }
        }
      }
    }
    .editorArea {
      padding-top: clamp(4rem, 6vw, 8rem);
      padding-bottom: clamp(6rem, 8vw, 10rem);
      .inner {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        .text {
          padding: 1em;
        }
      }
    }
    .btnArea {
      text-align: center;
    }
  }
}