.newPost {
  background-color: #EEF6F6;
  .topLink {
    margin-bottom: 2rem;
    a {
      border-bottom: 1px solid #111;
      color: #111;
      text-decoration: none;
      padding-bottom: 0.1em;
    }
  }
  form {
    label {
      padding-left: 0.5em;
      margin-bottom: 0.5rem;
    }
    .errorMessage {
      color: rgb(204, 10, 10);
    }
    label {
      display: block;
    }
    .title {
      input {
        border-color: #6D6D6D;
        border-radius: 5px;
        border-width: 1px;
        padding: 1.4rem;
        margin-bottom: 1.5rem;
        max-width: 100%;
        width: 100%;
      }
    }
    .flexBox {
      display: flex;
      justify-content: space-between;
      .studyTime {
        width: 30%;
        input {
          border-color: #6D6D6D;
          border-radius: 5px;
          border-width: 1px;
          padding: 1.4rem;
          margin-bottom: 1.5rem;
          width: 50%;
        }
      }
      .date {
        width: 65%;
        .inner {
          display: flex;
          justify-content: space-between;
          .year,
          .month,
          .day, {
            input {
              border-color: #6D6D6D;
              border-radius: 5px;
              border-width: 1px;
              padding: 1.4rem;
              margin-bottom: 1.5rem;
              width: 50%;
            }
          }
          .time {
            input {
              border-color: #6D6D6D;
              border-radius: 5px;
              border-width: 1px;
              padding: 1.4rem;
              margin-bottom: 1.5rem;
              width: 30%;
            }
          }
        }
      }
    }
  }
}