@use "@/app/_styles/mixin.module.scss" as *;
@use "@/app/_styles/variables.scss" as *;

.post {
  padding: 0;
  margin: 0;
  .postList {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    height: calc(12em + 10rem);
    padding: 1rem 4rem 6rem;
    margin-bottom: 5rem;
    &Inner {
      display: -webkit-box;
      line-height: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        h2 {
          font-size: 120%;
          font-weight: bold;
          width: 70%;
          @include mq(md) {
            order: 2;
            width: 100%;
          }
        }
        div {
          display: flex;
          justify-content: end;
          flex-wrap: wrap;
          width: 30%;
          @include mq(md) {
            justify-content: start;
            order: 1;
            width: 100%;
          }
          .home_categories {
            display: flex;
            justify-content: end;
            li {
              border: 1px solid $black;
              border-radius: 3px;
              font-size: 80%;
              text-align: center;
              padding: 0 0.5em;
              margin-right: 0.5em;
              margin-bottom: 0.3em;
            }
          }
          .home_tags {
            display: flex;
            justify-content: end;
            li {
              background-color: $black;
              border-radius: 3px;
              color: $white;
              font-size: 80%;
              text-align: center;
              padding: 0 0.5em;
              margin-right: 0.5em;
              margin-bottom: 0.3em;
            }
          }
        }
      }
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
