.login {
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .cap {
    text-align: center;
    span {
      color: #e56452;
      font-weight: bold;
      letter-spacing: 0.1rem;
      padding-left: 0.5em;
    }
    h2 {
      font-size: 200%;
      font-weight: bold;
      margin-bottom: clamp(3rem, 4vw, 5rem);
    }
  }
  .form {
    margin-right: auto;
    margin-left: auto;
    width: min(100%, 700px);
    .loginInner {
      margin-bottom: 3rem;
      .errorMessage {
        color: rgb(204, 10, 10);
      }
    }
    .btnArea {
      margin-bottom: clamp(2rem, 3vw, 5rem);
    }
  }
  .textArea {
    p {
      font-size: 80%;
      a {
        border-bottom: 1px solid #4a76af;
        color: #4a76af;
        padding-bottom: 0.1em;
      }
    }
  }
  .thanks {
    text-align: center;
    a {
      border-bottom: 1px solid #4a76af;
      color: #4a76af;
      padding-bottom: 0.1em;
    }
  }
}
