@use "@/app/_styles/variables.scss" as *;

.selectArea {
  margin-bottom: 5rem;
  .tag {
    display: flex;
    justify-content: start;
    ul {
      display: flex;
      justify-content: start;
      li {
        margin-right: 1rem;
        button {
          background-color: $white;
          border: 1px solid $black;
          border-radius: 3px;
          color: $black;
          padding: 0.2em 0.5em 0.3em;
          &.selected {
            background-color: $black;
            border: 1px solid $black;
            border-radius: 3px;
            color: $white;
          }
        }
      }
    }
  }
}

.newAdd {
  display: flex;
  flex-wrap: nowrap;
  justify-content: wrap-start;
  margin-bottom: 2rem;
}
