@use "@/app/_styles/variables.scss" as *;

.editButton {
  text-align: end;
  margin-bottom: 1rem;
}

#basicMenu {
  div {
    box-shadow: none;
  }
  ul {
    border: 1px solid $dark-gray;
    border-radius: 4px;
    padding: 0;
    li {
      padding: 1em 2em;
    }
  }
}
