.header {
  background-color: #46A997;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 2rem;
  .headerLogo {
    width: 15%;
    img {
      margin-left: 0;
      width: min(100%, 132px);
    }
  }
  .btnAera {
    .login {
      background-color: #1E1E1E;
      color: #FFF;
      border: 1px solid #FFF;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.9rem 1.8rem;
      margin-right: 2rem;
    }
    .new {
      background-color: #FFF;
      color: #1E1E1E;
      border: 1px solid #1E1E1E;
      border-radius: 5px;
      font-weight: bold;
      padding: 0.9rem 1.8rem;
      margin-right: 2rem;
    }
  }
}
