@use '@/app/_styles/mixin.module.scss' as *;

.fv {
  padding: clamp(6rem, 7vw, 8rem) 0;
  .fvInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq(md) {
      justify-content: center;
    }
    .fvText {
      width: 55%;
      @include mq(md) {
        width: 85%;
      }
      img {
        width: min(100%, 516px);
        @include mq(md) {
          margin-bottom: 1rem;
        }
      }
      strong {
        font-size: 150%;
        display: block;
        padding: 0 2rem;
        margin-bottom: 1rem;
        @include mq(md) {
          padding: 0;
        }
      }
      p {
        font-size: 85%;
        padding: 0 5rem 0 2rem;
        margin-bottom: 2rem;
        @include mq(md) {
          padding: 0 1em;
        }
      }
    }
    .fvImg {
      width: 41%;
      @include mq(md) {
        display: none;
      }
      img {
        width: min(100%, 401px);
      }
    }
    .btnArea {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      a, button {
        padding: 1.1rem 2.5rem;
        margin-right: 5rem;
        margin-bottom: 2.5rem;
        width: 33%;
        @include mq(md) {
          margin-right: 0;
          margin-bottom: 1rem;
          width: min(85%, 400px);
        }
        &.login {
          background-color: #1E1E1E;
          color: #FFF;
          border: 1px solid #FFF;
          border-radius: 5px;
          font-weight: bold;
        }
        &.new {
          background-color: #FFF;
          color: #1E1E1E;
          border: 1px solid #1E1E1E;
          border-radius: 5px;
          font-weight: bold;
          padding: 1.1rem 2.5rem;
          margin-right: 2rem;
          margin-bottom: 2.5rem;
          @include mq(md) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
        &.test {
          background-color: #E56452;
          color: #FFF;
          border: 1px solid #1E1E1E;
          border-radius: 5px;
          font-weight: bold;
          padding: 1.1rem 2.5rem;
          margin-right: 2rem;
          width: 50%;
          @include mq(md) {
            margin-right: 0;
            margin-right: 0;
            width: min(85%, 400px);
          }
        }
      }
    }
  }
  h2 {
    font-size: clamp(2rem, 2.7vw, 4.5rem);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}

.oneLank {
  background-color: #EEF6F6;
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: clamp(3rem, 3vw, 5vw);
    @include mq(md) {
      justify-content: center;
    }
    .img {
      width: 33%;
      img {
        max-width: 306px;
        width: 100%;
      }
      @include mq(md) {
        margin-bottom: 2rem;
        width: 50%;
      }
    }
    .text {
      width: 60%;
      @include mq(md) {
        width: 100%;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }
}

.about {
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  h2 {
    font-size: 200%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  span {
    color: #46A997;
    display: block;
    text-align: center;
    margin-bottom: 6rem;
  }
  .flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: clamp(5rem, 6vw, 8rem);
    @include mq(md) {
      justify-content: center;
    }
    .box {
      width: 30%;
      @include mq(md) {
        margin-bottom: 7rem;
        width: min(100%, 500px);
      }
      &:last-child {
        @include mq(md) {
          margin-bottom: 0;
        }
      }
      img {
        margin-bottom: 3rem;
        &.point1 {
          width: min(60%, 244px);
        }
        &.point2 {
          width: min(60%, 258px);
        }
        &.point3 {
          width: min(60%, 256px);
        }
      }
      h3 {
        color: #1F2E58;
        font-size: clamp(1.5rem, 1.7vw, 2rem);
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        font-size: clamp(1.3rem, 1.4vw, 1.5rem);
      }
    }
  }
}

.cap {
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: clamp(4rem, 5vw, 8rem);
  @include mq(md) {
    font-size: 150%;
  }
}

.displaySpNone {
  display: block;
  @include mq(md) {
    display: none;
  }
}