.capArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8rem 0 0;
  .cap {
    width: 57%;
    span {
      color: #E56452;
      font-weight: bold;
      letter-spacing: 0.1rem;
      padding-left: 0.5em;
    }
    h2 {
      font-size: 200%;
      font-weight: bold;
      text-align: start;
      margin-bottom: 2rem;
    }
    p {
      a {
        border-bottom: 1px solid #4a76af;
        color: #4a76af;
        padding-bottom: 0.1em;
      }
    }
  }
  img {
    margin-right: 0;
    width: min(40%, 257px);
  }
}

.Faq {
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
}