.signup {
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .cap {
    text-align: center;
    span {
      color: #E56452;
      font-weight: bold;
      letter-spacing: 0.1rem;
      padding-left: 0.5em;
    }
    h2 {
      font-size: 200%;
      font-weight: bold;
      margin-bottom: clamp(3rem, 4vw, 5rem);
    }
  }
  form {
    margin-bottom: clamp(3rem, 5vw, 7rem);
    .signupInner {
      margin-bottom: 3rem;
      label {
      padding-left: 0.5em;
        margin-bottom: 0.5rem;
      }
      .errorMessage {
        color: rgb(204, 10, 10);
      }
    }
    .btnArea {
      text-align: center;
      button {
        background-color: #E56452;
        color: #fff;
        border: 1px solid #6D6D6D;
        border-radius: 5px;
        font-weight: bold;
        padding: 0.7rem 2rem;
        margin-right: 2rem;
      }
    }
  }
  .textArea {
    p {
      font-size: 80%;
      a {
        border-bottom: 1px solid #4a76af;
        color: #4a76af;
        font-weight: 500;
        padding-bottom: 0.1em;
      }
    }
  }
  .thanks {
    text-align: center;
    p {
      margin-bottom: clamp(3rem, 4vw, 5rem);;
    }
    a {
      border-bottom: 1px solid #4a76af;
      color: #4a76af;
      padding-bottom: 0.1em;
    }
  }
}

.thanks {
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .cap {
    text-align: center;
    h2 {
      font-size: 200%;
      font-weight: bold;
      margin-bottom: clamp(3rem, 4vw, 5rem);
    }
  }
  p {
    margin-bottom: clamp(3rem, 4vw, 5rem);;
  }
  a {
    border-bottom: 1px solid #4a76af;
    color: #4a76af;
    padding-bottom: 0.1em;
  }
}