.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.code {
  background-color: #282c34;
  color: #fff;
  display: block;
  padding: 4px 10px;
  margin: 3px 0;
}
.link {
  span {
    border-bottom: 1px solid #4a76af;
    color: #4a76af;
    padding-bottom: 0.1em;
  }
}
