@use "@/app/_styles/variables.scss" as *;

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.code {
  background-color: $black;
  color: $white;
  display: block;
  padding: 4px 10px;
}
.link {
  span {
    border-bottom: 1px solid $light-blue;
    color: $light-blue;
    padding-bottom: 0.1em;
  }
}
