.postId {
  background-color: #EEF6F6;
  padding-top: clamp(4rem, 6vw, 8rem);
  padding-bottom: clamp(6rem, 8vw, 10rem);
  .inner {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    padding: 2rem clamp(2rem, 4vw, 5rem) clamp(3rem, 6vw, 7rem);
    .topArea {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
      h2 {
        font-size: 150%;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .markArea {
        display: flex;
        justify-content: space-between;
        .home_categories {
          li {
            border: 1px solid #111;
            border-radius: 3px;
            text-align: center;
            padding: 0 0.5em;
            margin-right: 0.5em;
          }
        }
        .home_tags {
          li {
            background-color: #111;
            border-radius: 3px;
            color: #fff;
            text-align: center;
            padding: 0 0.5em;
          }
        }
      }
    }
  }
}
